body {
    margin: 0px;
}
img {
    width: 350px;
    height: 250px;
    margin: 10px;
    transition: all 1s;
}
img:hover {
    transform: scale(1.1);
}
.image-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    color: palevioletred;
    border-bottom: 1px solid rgb(240, 138, 185);
    border-right: 1px solid rgb(240, 138, 185);
    width: 300px;
    margin-top: 40px;
    box-shadow: 1px 3px 3px 0px;
}